.browsehappy {
  margin: 0;
  padding: rem-calc(10);
  background: #ccc;
  color: #000;
  text-align: center;
}

.svg {
  display: inline-block;
  width: rem-calc(16);
  height: rem-calc(16);
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  
  &.huge {
    width: rem-calc(100);
    height: rem-calc(100);
  }
}

// Simple example on how to use sprite icon in SASS - just a copy-paste from one of my projects
ul.tick {
	margin: rem-calc(0 0 22);
	padding: 0;
	
	list-style: none;

	font-size: rem-calc(18);
	font-weight: bold;
	line-height: rem-calc(22);
	
	li {
		margin-left: rem-calc(25);
		margin-bottom: rem-calc(3);
		
		position: relative;
		
		&:before {
			content: "";
			display: inline-block;
			
			@include icon-sprite(tick, true);
			
			position: absolute;
			top: 3px;
			left: -25px;
		}
	}

  @include breakpoint(medium up) {
    margin-bottom: rem-calc(23);
  }
}