// Using Compass spriting, see http://compass-style.org/help/tutorials/spriting/
// Compass is generating the sprite map and styles from images in /app/assets/images/web/mobile/icon[2x]/*.png.
// 
// NOTE: 2x icons must be an even number of pixels wide to avoid clipping/bleed.
// NOTE: Adding an icon will cause the sprites to be regenerated.

// Reduce sprite-map waste for variable-width icons
$icon-layout: vertical;
$icon2x-layout: vertical;

// Include dimensions for span background-image support
$icon-sprite-dimensions: true;

// Ensure no overlap between sprites in the map
$icon-spacing: 6px;
$icon2x-spacing: 12px;

// Create 1x and 2x sprite map images
@import "icon/*.png";
@import "icon2x/*.png";

// Use 1x sprite for non-high-dpi screens
@include all-icon-sprites;

// Override the sprite image for high-dpi screens
// and adjust background-size so 1x positions will work correctly
// for all 1x sprite style classes
@media (-webkit-min-device-pixel-ratio: 1.3), (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 1.3 / 1), (min-resolution: 125dpi), (min-resolution: 1.3dppx) {
	#{$icon-sprite-base-class} {
		background-image: $icon2x-sprites;
		background-size: image-width(sprite-path($icon-sprites)) image-height(sprite-path($icon-sprites));
	}
}

.icon-sprite {
	display: inline-block;
}